body {
  letter-spacing: 2px;
  color: #1a1a1c;
  font-family: 'Noto Sans JP', sans-serif;
  overflow: scroll;
}

/* ヘッダーここから */

header {
  height: 80px;
  width: 100vw;
  background-color: #1a1a1c;
  color: white;
  position: fixed;
  display: flex;
  justify-content: space-between;
}

.header-logo {
  padding: 0 40px;
  font-size: 32px;
  line-height: 80px;
}

.header-right {
  padding: 0 40px;
  display: flex;
}

.header-menu {
  padding: 0 16px;
  font-size: 16px;
  font-weight: 300;
  line-height: 80px;
}

/* ヘッダーここまで */
/* 共通ここから */

.main {
  width: 700px;
  margin: 0 auto;
  padding-top: 112px;
}

/* 共通ここまで */
/* 一覧画面ここから */

.new-flowchart {
  position: fixed;
  right: 40px;
  bottom: 40px;
  padding: 16px;
  border: 2px solid white;
  border-radius: 8px;
  background-color: #f1f1f4;
}

.new-flowchart-text {
  position: fixed;
  right: 60px;
  bottom: 40px;
  color: #1a1a1c;
}

.category {
  text-align: center;
  padding: 16px;
}

.list-container {
  width: 100%;
}

.index-title {
  width: calc(100% - 32px);
  height: 24px;
  font-size: 20px;
  font-weight: 600;
  background-color: #f1f1f4;
  border-bottom: 1px solid #1a1a1c;
  border-radius: 8px 8px 0 0;
  padding: 8px 16px;
}

.flowchart-content {
  width: calc(100% - 32px);
  font-size: 14px;
  color: #626264;
  background-color: #f8f8fb;
  border-radius: 0 0 8px 8px;
  padding: 8px 16px;
  margin-bottom: 64px;
  display: flex;
}

.flowchart-image {
  height: 72px;
  width: 72px;
  object-fit: contain;
  border: 3px solid #d8d8db;
  background-color: white;
  margin: 4px 0;
}

.summary-container {
  width: 591px;
  padding: 0 16px;
  line-height: 20px;
}

.link {
  text-decoration: none;
  color: #000082;
}

.author {
  display: block;
  font-weight: 600;
  text-align: right;
}

/* 一覧画面ここまで */
/* 新規作成画面ここから */

.header-link {
  text-decoration: none;
  color: white;
}

.form {
  border: 2px solid #d8d8db;
  border-radius: 4px;
  line-height: 24px;
  padding: 8px;
}

.form-label {
  display: block;
}

.field {
  margin-bottom: 32px;
}

.hidden-field {
  display: none;
}

.goal {
  height: 72px;
  width: 560px;
}

.btn {
  border: 2px solid #d8d8db;
  padding: 8px 16px;
}

/* 新規作成画面ここから */
/* 詳細画面ここから */

.show-title {
  line-height: 72px;
  font-size: 32px;
  border-bottom: 2px solid #d8d8db;
  text-align: center;
}

.radio_btn {
  line-height: 24px;
  color: #626264;
  font-size: 14px;
  margin: 16px 32px 8px 32px;
  display: flex;
  justify-content: left;
}

.process {
  line-height: 24px;
  background-color: #f1f1f4;
  padding: 16px 16px;
  margin: 16px 16px 8px 32px;
}

.arrow-image {
  display: block;
  margin: 0 auto;
}

.goal-message {
  text-align: center;
  font-size: 32px;
  letter-spacing: 4px;
}

.show-goal {
  width: calc(100% - 32px);
  margin: 8px 0 160px 0;
  padding: 16px;
  border-top: 2px solid #d8d8db;
  display: flex;
  color: #626264;
}

.goal-symbol {
  display: block;
}

.task-form {
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: calc(100vw - 128px);
  height: 72px;
  background-color: #f1f1f4;
  padding: 32px 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  line-height: 32px;
}

.left {
  display: block;
}

.center {
  display: block;
}

.right {
  display: block;
}

.form-time {
  width: 48px;
}
